<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metadados de Arquivo</title>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/1029/1029183.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <i class="fab fa-forumbee"></i>
      <h1>Anonymous Message Board</h1>
      <h2>
        <a href="/b/test/">Go to test board</a>
      </h2>
    </header>

    <main>
      <section id="actions">
        <div class="action-card">
          <h4>Create a new thread</h4>
          <form action="/api/threads/:board" method="post" id="newThread">
            <input type="text" placeholder="Enter board name" name="board" required />
            <textarea placeholder="Thread text..." name="text" required></textarea>
            <input type="password" placeholder="Password" name="delete_password" required />
            <input type="submit" value="Submit" />
          </form>
        </div>

        <div class="action-card">
          <h4>Report a thread</h4>
          <form id="reportThread">
            <input type="text" placeholder="Board name" name="board" required />
            <input type="text" placeholder="Thread ID" name="thread_id" required />
            <input type="submit" value="Report" />
          </form>
        </div>

        <div class="action-card">
          <h4>Delete a thread</h4>
          <form id="deleteThread">
            <input type="text" placeholder="Board name" name="board" required />
            <input type="text" placeholder="Thread ID" name="thread_id" required />
            <input type="password" placeholder="Password" name="delete_password" required />
            <input type="submit" value="Delete" />
          </form>
        </div>
      </section>
    </main>


    
    <footer class="cute-footer">
      <p>
        Desenvolvido
        <a
          href="https://github.com/samanthasilva/FCC-file-metadata-microservice"
          target="_blank"
          class="heart-link"
          >❤</a
        >
        por Samantha Silva
      </p>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script>
      $(function () {
        $("#newThread").submit(function () {
          const board = $("#newThread input[name='board']").val();
          $(this).attr("action", `/api/threads/${board}`);
        });

        $("#reportThread").submit(function (e) {
          e.preventDefault();
          const url = "/api/threads/" + $("#reportThread input[name='board']").val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
        });

        $("#deleteThread").submit(function (e) {
          e.preventDefault();
          const url = "/api/threads/" + $("#deleteThread input[name='board']").val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
        });
      });
    </script>
  </body>
</html>
