<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metadados de Arquivo</title>
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/1029/1029183.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <a href="/"><i class="fab fa-forumbee"></i></a>
      <h1 id="threadTitle">Thread Details</h1>
    </header>

    <section id="boardDisplay"></section>

    
    <footer class="cute-footer">
      <p>
        Desenvolvido
        <a
          href="https://github.com/samanthasilva/FCC-file-metadata-microservice"
          target="_blank"
          class="heart-link"
          >❤</a
        >
        por Samantha Silva
      </p>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script>
      $(function () {
        const currentURL = window.location.pathname.slice(3).split("/");
        const url = `/api/replies/${currentURL[0]}?thread_id=${currentURL[1]}`;
        $("#threadTitle").text("Viewing Thread");

        $.ajax({
          type: "GET",
          url: url,
          success: function (ele) {
            let threadDetails = ['<div class="thread-detail">'];
            threadDetails.push(`<h3>${ele.text}</h3>`);
            threadDetails.push(`<p>Created on: ${ele.created_on}</p>`);
            threadDetails.push('<div class="replies">');

            ele.replies.forEach(function (rep) {
              threadDetails.push(`<div class="reply-item">`);
              threadDetails.push(`<p>${rep.text} <small>${rep.created_on}</small></p>`);
              threadDetails.push(
                `<form class="report-reply-form"><button type="submit" class="btn-report-reply"><i class="fas fa-flag"></i> Report Reply</button></form>`
              );
              threadDetails.push(
                `<form class="delete-reply-form"><input type="password" name="delete_password" placeholder="Password" required/><button type="submit" class="btn-delete-reply"><i class="fas fa-trash-alt"></i> Delete Reply</button></form>`
              );
              threadDetails.push(`</div>`); // End of reply-item
            });

            threadDetails.push("</div>"); // End of replies
            $("#boardDisplay").html(threadDetails.join(""));
          },
        });
      });
    </script>
  </body>
</html>
